body {
  font-family: sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

#produtos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.produto {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

button {
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

input, select {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}
